In [7]:
students = ['alena','pavan','prabhu','ramesh','bharat','anjali']

In [9]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali']

In [10]:
print(type)

<class 'type'>

In [11]:
print(students[4])

bharat

In [12]:
print(students[1]);

pavan

In [13]:
print(students[4].title())

Bharat

In [15]:
students.append('ajeeth')

In [17]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeeth']

In [18]:
students.append('raghu')

In [19]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'raghu']

In [20]:
type(students)

list

In [22]:
students.insert(3,'india')
print(students)

['alena', 'pavan', 'prabhu', 'india', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'raghu']

In [24]:
print(students[3])

india

In [25]:
students[0] = 'anusha'

In [26]:
print(students)

['anusha', 'pavan', 'prabhu', 'india', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'raghu']

In [28]:
students[4] = 'priya'

In [29]:
print(students)

['anusha', 'pavan', 'prabhu', 'india', 'priya', 'bharat', 'anjali', 'ajeeth', 'raghu']

In [30]:
del students[3]
print(students)

['anusha', 'pavan', 'prabhu', 'priya', 'bharat', 'anjali', 'ajeeth', 'raghu']

In [31]:
del students[2]
print(students)

['anusha', 'pavan', 'priya', 'bharat', 'anjali', 'ajeeth', 'raghu']