In [3]:
my_studnets = ['raghu','raju','nandan','alaka','ganga','yuma','krishna']

In [4]:
print(my_studnets)

['raghu', 'raju', 'nandan', 'alaka', 'ganga', 'yuma', 'krishna']

In [5]:
print(sorted(my_studnets))

['alaka', 'ganga', 'krishna', 'nandan', 'raghu', 'raju', 'yuma']

In [6]:
print(my_studnets)

['raghu', 'raju', 'nandan', 'alaka', 'ganga', 'yuma', 'krishna']

In [8]:
print(sorted(my_studnets))

['alaka', 'ganga', 'krishna', 'nandan', 'raghu', 'raju', 'yuma']

In [9]:
my_studnets.sort()

In [10]:
print(my_studnets)

['alaka', 'ganga', 'krishna', 'nandan', 'raghu', 'raju', 'yuma']

In [11]:
my_studnets.reverse()

In [12]:
print(my_studnets)

['yuma', 'raju', 'raghu', 'nandan', 'krishna', 'ganga', 'alaka']

In [13]:
len(my_studnets)

7

In [14]:
students = ['ravi','raju','priya','srini','anu','dare']

In [15]:
print(students)

['ravi', 'raju', 'priya', 'srini', 'anu', 'dare']

In [20]:
group1 = students[0:2]
print(group1)

['ravi', 'raju']

In [22]:
group2 = students[2:4]
print(group2)

['priya', 'srini']

In [23]:
group2 = students[4:6]
print(group2)

['anu', 'dare']

In [24]:
print(students[0:1])

['ravi']

In [25]:
print(students[0:2])

['ravi', 'raju']

In [26]:
print(students[2:4])

['priya', 'srini']

In [27]:
print(students[4:6])

['anu', 'dare']

In [29]:
print(students(1,4))

TypeError: 'list' object is not callable

In [30]:
students = ('ravi','raju','priya','srini','anu','dare')

In [31]:
print(students)

('ravi', 'raju', 'priya', 'srini', 'anu', 'dare')

In [32]:
print(students(1,4))

TypeError: 'tuple' object is not callable